*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

#root{
    width: 100%;
    height: 100%;
    display: flex;
}

.App{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Products{
    display: flex;
    height: 100vh;
    width: 100%;
}