.ProductPage{
    margin-top: 7vh;
    height: 93vh;
    width: 100%;
    background-color: #29292f;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.slider{
    width: 80%;
    height: 700px;
    display: flex;
}

.slider__item{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}