.sidebar{
    position: fixed;
    background-color: #0B0E1B;
    color: #0295DB;
    height: 100%;
    width: 13%;
    top: 7vh;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar__item{
    text-decoration: none;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s all;
}

.sidebar__item:hover{
    transform: scale(1.03);
    opacity: 0.8;
}

.selected{
    background-color: #2165d5;
}